NODE_ENV=development
PORT=3000
LOG_LEVEL=info

WEBSITE_API_KEY=website-secret-key
USER_API_KEY=user-secret-key

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=ppob_blueprint

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
